<%= render partial: 'backbone_templates' %>
<script type="text/javascript">
  $(function() { window.router = new SP.Routers.PomsRouter({poms: <%= @poms.to_json.html_safe -%>}); Backbone.history.start(); });
</script>


<%= javascript_tag do %>
  window.poms = <%= raw @poms.to_json %>;
<% end %>
<br />


<div id="pomCollection">
</div>

<div id="pomsMainView">
</div>


<div id="newPom">
</div>


<div id="poms"></div>
