<h1>Listing pom_sets</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pom_sets.each do |pom_set| %>
  <tr>
    <td><%= link_to 'Show', pom_set %></td>
    <td><%= link_to 'Edit', edit_pom_set_path(pom_set) %></td>
    <td><%= link_to 'Destroy', pom_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pom set', new_pom_set_path %>
