// Place all the styles related to the Poms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pom {
  margin: 20px;

  padding: 20px;
  border: red 1px solid;
}
